@charset "utf-8";
/*reset.css 연결*/
@import url(./reset.css);
/*웹 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/*폰트 기본 설정*/
html {
  font-size: 10px;
}

body {
  font-family: "Gothic A1", "Urbanist", sans-serif;
  font-weight: 500;
  color: var(--black-color1);
}

/*컨텐츠 영역*/
.con {
  width: 150rem;
  height: auto;
  margin: 0 auto;
}

/*헤더*/
header {
  width: 100%;
  height: 8rem;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.1);
}

header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*로고*/
header h1 a {
  display: block;
  font-family: Urbanist;
  font-size: 3.6rem;
  font-weight: 800;
  font-style: italic;
  color: var(--main-color);
}

/*gnb*/
header nav ul {
  display: flex;
  gap: 15rem;
}

header nav ul li {
  width: 8rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transform: rotate(0.03deg); /*안티앨리어싱 효과*/
  position: relative;
}

/*호버할 때 나타날 꾸밈 요소*/
header nav ul li::before,
header nav ul li::after {
  display: block;
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(3, 2);
  opacity: 0;
  transition: 0.2s;
}

header nav ul li::before {
  content: "[";
  left: -0.5rem;
}

header nav ul li::after {
  content: "]";
  right: -0.5rem;
}

header nav ul li:nth-child(3)::before {
  left: -2rem;
}

header nav ul li:nth-child(3)::after {
  right: -2rem;
}

/*호버하면*/
header nav ul li:hover {
  font-weight: 700;
}

header nav ul li:hover::after,
header nav ul li:hover::before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

/*메인*/
main {
  width: 100%;
  height: auto;
}

/*섹션 공통 설정*/
section {
  width: 100%;
  height: auto;
  padding: 22rem 0;
}

/*메인 비주얼*/
.main_visual {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}

/*비주얼 이미지*/
.main_visual .visual_img {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*이미지 앞에 씌울 흰색 마스크*/
.main_visual .visual_img .white_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(1.5px);
}

/*이미지*/
.main_visual .visual_img img {
  width: 100%;
  transform: scale(1.2);
  object-fit: cover;
}

/*비주얼 텍스트*/
.main_visual .visual_txt {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

/*아랫단*/
.main_visual .visual_txt .inner_wrap {
  display: flex;
}

/*돌아가는 부분*/
.main_visual .visual_txt .swiper {
  width: 24rem;
  height: 6rem;
}

.main_visual .visual_txt .swiper .swiper-wrapper {
  position: relative;
}

/*바뀌는 부분 양옆 대괄호 부분*/
.main_visual .visual_txt .swiper::before,
.main_visual .visual_txt .swiper::after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  font-weight: 600;
  color: var(--main-color);
}

.main_visual .visual_txt .swiper::before {
  content: "[";
  left: -4rem;
}

.main_visual .visual_txt .swiper::after {
  content: "]";
  right: -4rem;
}

/*두번째 섹션*/
.sec2 {
  padding-top: 0;
}

/*섹션 제목*/
.sec2 .sec_title {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  font-size: 37rem;
  font-weight: 900;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8.8rem;
}

.sec2 .sec_title span {
  display: block;
}

/*컨텐츠 영역*/
.sec2 .content {
  opacity: 0;
}

.sec2 .content .con {
  display: flex;
  gap: 5.2rem;
}

/*이력서 사진 영역*/
.sec2 .img_area {
  width: 30.6rem;
  height: 30.6rem;
  border: 1px solid var(--black-color5);
  border-radius: 1.2rem;
}

/*내용 영역*/
.sec2 .info_area {
  padding-top: 1.2rem;
}

.sec2 .info_area > div {
  display: flex;
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.5;
}

/*내용 제목*/
.sec2 .info_area > div > h3 {
  width: 10rem;
  font-weight: 700;
}

/*내용*/
.sec2 .info_area > div p {
  color: var(--black-color3);
}

/*날짜*/
.sec2 .info_area > div p > span {
  color: var(--black-color4);
  font-weight: 400;
}

/*세번째 섹션*/

/*섹션 제목 공통 설정*/
section h2 {
  width: 100%;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 12rem;
}

/*컨텐츠 영역*/
.sec3 .content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

/*컨텐츠 박스*/
.sec3 .content .content_box {
  width: 46rem;
  height: 46rem;
  padding: 8rem 6rem;
  box-sizing: border-box;
  border-radius: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  transition: 0.5s;
}

/*박스 아이콘*/
.sec3 .content .content_box .thumb {
  height: 10rem;
}

.sec3 .content .content_box .thumb > img {
  height: 100%;
}

/*박스 제목*/
.sec3 .content .content_box > h3 {
  font-size: 2.8rem;
  font-weight: 800;
}

/*박스 설명*/
.sec3 .content .content_box > p {
  font-size: 1.7rem;
  color: var(--black-color3);
  text-align: center;
  line-height: 1.5;
  word-break: keep-all;
  opacity: 0;
  transition: 0.5s;
}

/*박스에 호버하면*/
.sec3 .content .content_box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.sec3 .content .content_box:hover > p {
  opacity: 1;
}

/*네번째 섹션*/

/*컨텐츠 영역*/
.sec4 .content {
  width: 100%;
  height: auto;
}

/*컨텐츠*/
.sec4 .con_wrap {
  width: 100%;
  height: auto;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  margin-bottom: 40rem;
}

.sec4 .con_wrap:last-child {
  margin-bottom: 0;
}

/*썸네일*/
.sec4 .con_wrap .thumb {
  width: 81.8rem;
  height: 55rem;
  border: 1px solid var(--black-color5);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4 .con_wrap .thumb > img {
  height: 100%;
  object-fit: cover;
}

/*왼쪽 정보 영역*/
.sec4 .con_wrap .info {
  width: fit-content;
  height: auto;
}

.sec4 .con_wrap .info .info_line {
  width: fit-content;
  height: auto;
  display: flex;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.sec4 .con_wrap .info .info_line h3 {
  width: 15rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.sec4 .con_wrap .info .info_line p {
  font-size: 1.7rem;
  color: var(--black-color2);
  word-break: keep-all;
}

.sec4 .con_wrap .info .info_line p span {
  color: var(--black-color4);
}

/*참고 링크*/
.sec4 .con_wrap .info .info_line:last-child {
  margin-bottom: 0;
}

.sec4 .con_wrap .info .info_line:last-child .icons {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.sec4 .con_wrap .info .info_line:last-child .icons a {
  display: block;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.sec4 .con_wrap .info .info_line:last-child .icons i {
  font-size: 3.6rem;
  color: var(--black-color1);
  transition: 0.3s;
}

.sec4 .con_wrap .info .info_line:last-child .icons a:last-child i {
  font-size: 3.2rem;
}

/*아이콘에 호버하면*/
.sec4 .con_wrap .info .info_line:last-child .icons i:hover {
  color: var(--main-color);
}
